.block-module_block_3Wnej {
  position: relative;
  padding: 0 1rem 2rem;
  /* .maskBG {
    @extend %positionCenter;
    width: 100vw;
    height: 100%;
  }
  &:nth-child(1) .maskBG {
    background-image: linear-gradient(135deg, rgba($color-secondary, 0.3) 0%, rgba($color-primary, 0.3) 100%);
  }
  &:nth-child(2) .maskBG {
    background-image: linear-gradient(135deg, rgba($color-secondary, 0.5) 0%, rgba($color-primary, 0.5) 100%);
  }
  &:nth-child(3) .maskBG {
    background-image: linear-gradient(135deg, rgba($color-secondary, 0.7) 0%, rgba($color-primary, 0.7) 100%);
  }
  &:nth-child(4) .maskBG {
    background-image: linear-gradient(135deg, rgba($color-secondary, 0.9) 0%, rgba($color-primary, 0.9) 100%);
  } */ }
  .block-module_block_3Wnej .block-module_title_idnc8 {
    position: relative;
    margin-bottom: 2rem;
    padding: 0 10px 10px;
    color: #ec5c1e;
    border-radius: 5px; }
    .block-module_block_3Wnej .block-module_title_idnc8::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: #ec5c1e; }

.profile-module_avatar_cD41p .profile-module_frame_1j3Cv img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  width: 100%;
  height: auto; }
  .profile-module_avatar_cD41p .profile-module_frame_1j3Cv img.landscape {
    width: auto;
    height: 100%; }

.profile-module_profile_xNXl- {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width: 320px -20px;
  max-width: 640px;
  overflow: hidden; }
  @media only screen and (min-width: 1248px) {
    .profile-module_profile_xNXl- {
      padding: 85px 20px 30px; } }
  @media only screen and (max-width: 1247px) {
    .profile-module_profile_xNXl- {
      padding: 85px 20px 30px; } }
  @media only screen and (max-width: 767px) {
    .profile-module_profile_xNXl- {
      padding: 80px 15px 15px; } }
  @media only screen and (max-width: 559px) {
    .profile-module_profile_xNXl- {
      padding: 60px 10px 10px; } }
  @media only screen and (max-width: 399px) {
    .profile-module_profile_xNXl- {
      padding: 50px 5px 5px; } }
  .profile-module_profile_xNXl- .profile-module_wrapper_DEDUi {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    box-shadow: 3px 3px 5px rgba(255, 217, 159, 0.3);
    text-shadow: 3px 3px 3px rgba(255, 217, 159, 0.2); }

.profile-module_avatar_cD41p {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://apphiaa.github.io/CV/_next/static/images/bg-0dc5dd41de3b53477d4c5552c3935286.jpg); }
  .profile-module_avatar_cD41p .profile-module_frame_1j3Cv {
    padding-top: 56.25%; }
    .profile-module_avatar_cD41p .profile-module_frame_1j3Cv img {
      width: auto;
      max-height: 150%;
      transition-duration: 0.5s; }
  .profile-module_avatar_cD41p:hover .profile-module_frame_1j3Cv img {
    transform: translateY(-2.5%) scale(1.1); }
  .profile-module_avatar_cD41p::after, .profile-module_avatar_cD41p::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-style: solid;
    border-color: #ffffff; }
  .profile-module_avatar_cD41p::before {
    border-width: 0.5rem 0 0 0.5rem; }
  .profile-module_avatar_cD41p::after {
    border-width: 0 0.5rem 0.5rem 0; }

.profile-module_info_3KT_j {
  position: relative;
  margin-top: -1px;
  padding: 0.5rem 1rem 1rem;
  text-align: center;
  background-color: #ffffff; }
  .profile-module_info_3KT_j h2 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px; }
  .profile-module_info_3KT_j p {
    margin: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
    /* &::first-letter {
      font-size: 2em;
      font-weight: bold;
      color: $color-secondary;
    }

    &::selection {
      color: yellow;
      background: #543;
    } */ }

.card-module_card_1dc2P, .card-module_card_1dc2P .card-module_imgBx_17txe img, .card-module_card_1dc2P .card-module_details_3fxH9 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-module_card_1dc2P {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: transparent;
  overflow: hidden; }
  .card-module_card_1dc2P:hover .card-module_imgBx_17txe {
    transform: scaleX(-1); }
  .card-module_card_1dc2P .card-module_imgBx_17txe,
  .card-module_card_1dc2P .card-module_details_3fxH9 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s; }
  .card-module_card_1dc2P .card-module_imgBx_17txe {
    top: 0;
    left: 0; }
    .card-module_card_1dc2P .card-module_imgBx_17txe img {
      width: 80%; }
      @media only screen and (max-width: 639px) {
        .card-module_card_1dc2P .card-module_imgBx_17txe img {
          height: 80%; } }
  .card-module_card_1dc2P .card-module_details_3fxH9 {
    top: 0;
    left: 100%;
    padding: 20px 10px;
    background: #c3b6aa; }
    .card-module_card_1dc2P .card-module_details_3fxH9 div {
      width: 90%; }
      .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
        margin: 0 0 10px 0;
        padding: 0 0 10px;
        text-align: center;
        color: #ffffff;
        border-bottom: 2px solid #ffffff; }
        .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
          font-size: 16px; }
        @media (min-width: 768px) and (max-width: 1024px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
            font-size: calc( 16px + 16 * (100vw - 768px) / 256); } }
        @media (min-width: 1024px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
            font-size: 32px; } }
        @media only screen and (max-width: 639px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
            font-size: 16px; } }

@media only screen and (max-width: 639px) and (min-width: 480px) and (max-width: 640px) {
  .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
    font-size: calc( 16px + 12 * (100vw - 480px) / 160); } }

@media only screen and (max-width: 639px) and (min-width: 640px) {
  .card-module_card_1dc2P .card-module_details_3fxH9 div h5 {
    font-size: 28px; } }
      .card-module_card_1dc2P .card-module_details_3fxH9 div p {
        color: #ffffff; }
        .card-module_card_1dc2P .card-module_details_3fxH9 div p {
          font-size: 12px; }
        @media (min-width: 768px) and (max-width: 1024px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div p {
            font-size: calc( 12px + 12 * (100vw - 768px) / 256); } }
        @media (min-width: 1024px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div p {
            font-size: 24px; } }
        @media only screen and (max-width: 639px) {
          .card-module_card_1dc2P .card-module_details_3fxH9 div p {
            font-size: 12px; } }

@media only screen and (max-width: 639px) and (min-width: 480px) and (max-width: 640px) {
  .card-module_card_1dc2P .card-module_details_3fxH9 div p {
    font-size: calc( 12px + 8 * (100vw - 480px) / 160); } }

@media only screen and (max-width: 639px) and (min-width: 640px) {
  .card-module_card_1dc2P .card-module_details_3fxH9 div p {
    font-size: 20px; } }

.hobbies-module_hobbies_3edhL {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.hobbies-module_hobbies_3edhL {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  min-width: 320px -20px;
  max-width: 1248px;
  overflow: hidden; }
  .hobbies-module_hobbies_3edhL > * {
    position: relative;
    padding-top: 33.33333%;
    flex: 1 0 33%;
    /* @include mq(phablet, max) {
      flex: 0 1 50%;
    } */ }

.circularChart-module_singleChart_3DzQs .circularChart-module_text_3zm5F {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.circularChart-module_singleChart_3DzQs {
  position: relative;
  transition: transform 0.3s; }
  .circularChart-module_singleChart_3DzQs:hover, .circularChart-module_singleChart_3DzQs:active {
    transform: scale(1.1);
    /* .text {
      font-weight: 600;
      @include font-size(16px, 28px);
    } */ }
    .circularChart-module_singleChart_3DzQs:hover .circularChart-module_circle_3Gpu5, .circularChart-module_singleChart_3DzQs:active .circularChart-module_circle_3Gpu5 {
      stroke: #e23939;
      stroke-width: 2;
      stroke-dasharray: 100; }
  .circularChart-module_singleChart_3DzQs .circularChart-module_circularChart_OTJCZ {
    margin: 10px auto;
    display: block;
    max-width: 60%; }
    @media only screen and (max-width: 559px) {
      .circularChart-module_singleChart_3DzQs .circularChart-module_circularChart_OTJCZ {
        max-width: 80%; } }
  .circularChart-module_singleChart_3DzQs .circularChart-module_circleBg_2wn2u {
    fill: none;
    stroke: #f4f4f4;
    stroke-width: 3.8; }
  .circularChart-module_singleChart_3DzQs .circularChart-module_circle_3Gpu5 {
    fill: none;
    stroke: #ec5c1e;
    stroke-width: 2.8; }
  .circularChart-module_singleChart_3DzQs .circularChart-module_text_3zm5F {
    user-select: none; }
    .circularChart-module_singleChart_3DzQs .circularChart-module_text_3zm5F {
      font-size: 24px; }
    @media (min-width: 320px) and (max-width: 1024px) {
      .circularChart-module_singleChart_3DzQs .circularChart-module_text_3zm5F {
        font-size: calc( 24px + 4 * (100vw - 320px) / 704); } }
    @media (min-width: 1024px) {
      .circularChart-module_singleChart_3DzQs .circularChart-module_text_3zm5F {
        font-size: 28px; } }
  .circularChart-module_singleChart_3DzQs circle {
    fill: #ffc56c; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AI_3XvsK circle {
    fill: #3b3323; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AI_3XvsK .circularChart-module_circle_3Gpu5 {
    stroke: #fc9d0e; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AI_3XvsK .circularChart-module_text_3zm5F {
    color: #fc9d0e; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AE_30m0O circle {
    fill: #312963; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AE_30m0O .circularChart-module_circle_3Gpu5 {
    stroke: #c88fff; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__AE_30m0O .circularChart-module_text_3zm5F {
    color: #c88fff; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PR_3B63s circle {
    fill: #3a2641; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PR_3B63s .circularChart-module_circle_3Gpu5 {
    stroke: #d757ff; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PR_3B63s .circularChart-module_text_3zm5F {
    color: #d757ff; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PS_2dNyf circle {
    fill: #2d2668; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PS_2dNyf .circularChart-module_circle_3Gpu5 {
    stroke: #90c5fc; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__PS_2dNyf .circularChart-module_text_3zm5F {
    color: #90c5fc; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__3D_3BrpG circle {
    fill: #2f979f; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__3D_3BrpG .circularChart-module_circle_3Gpu5 {
    stroke: #2c2e78; }
  .circularChart-module_singleChart_3DzQs.circularChart-module__3D_3BrpG .circularChart-module_text_3zm5F {
    color: #2c2e78; }

.aos-animate > .circularChart-module_singleChart_3DzQs .circularChart-module_circle_3Gpu5 {
  animation-name: circularChart-module_progress_2OLYa;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: forwards; }

@keyframes circularChart-module_progress_2OLYa {
  0% {
    stroke-dasharray: 0 100; } }

.skills-module_skills_lSEgR {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.skills-module_skills_lSEgR {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  min-width: 320px -20px;
  max-width: 1248px;
  overflow: hidden; }
  .skills-module_skills_lSEgR > * {
    flex: 1;
    /* @include mq(phablet, max) {
      flex: 0 1 50%;
    } */ }

.vertical-timeline-element-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.vertical-timeline {
  position: relative;
  margin: 0 auto;
  padding: 2em 0;
  width: 95%;
  max-width: 1170px; }
  .vertical-timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 2vw;
    width: 4px;
    height: 100%;
    background: #ffffff;
    transform: translateX(-50%); }
    @media only screen and (max-width: 639px) {
      .vertical-timeline::before {
        width: 3px; } }
  .vertical-timeline::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline.vertical-timeline--two-columns {
      margin: 0 auto;
      width: 90%; }
      .vertical-timeline.vertical-timeline--two-columns:before {
        left: 50%; } }

.vertical-timeline-element {
  position: relative;
  margin: 2em 0; }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline-element {
      margin: 4em 0; } }
  .vertical-timeline-element:first-child {
    margin-top: 0; }
  .vertical-timeline-element:last-child {
    margin-bottom: 0; }
  .vertical-timeline-element:after {
    content: "";
    display: table;
    clear: both; }
  .vertical-timeline-element > div {
    min-height: 1px;
    overflow: hidden; }

.vertical-timeline-element-icon {
  position: absolute;
  left: 2vw;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(34, 34, 34, 0.08), 0 3px 0 4px rgba(34, 34, 34, 0.05);
  transform: translateX(-50%);
  transition: transform 0.4s ease;
  cursor: pointer; }
  @media only screen and (min-width: 1248px) {
    .vertical-timeline-element-icon {
      top: 2.5px; } }
  @media only screen and (max-width: 1247px) {
    .vertical-timeline-element-icon {
      top: 2.5px; } }
  @media only screen and (max-width: 767px) {
    .vertical-timeline-element-icon {
      top: 5px; } }
  @media only screen and (max-width: 559px) {
    .vertical-timeline-element-icon {
      top: 10px; } }
  @media only screen and (max-width: 399px) {
    .vertical-timeline-element-icon {
      top: 15px; } }
  @media only screen and (min-width: 1248px) {
    .vertical-timeline-element-icon {
      width: 40px; } }
  @media only screen and (max-width: 1247px) {
    .vertical-timeline-element-icon {
      width: 40px; } }
  @media only screen and (max-width: 767px) {
    .vertical-timeline-element-icon {
      width: 40px; } }
  @media only screen and (max-width: 559px) {
    .vertical-timeline-element-icon {
      width: 35px; } }
  @media only screen and (max-width: 399px) {
    .vertical-timeline-element-icon {
      width: 30px; } }
  @media only screen and (min-width: 1248px) {
    .vertical-timeline-element-icon {
      height: 40px; } }
  @media only screen and (max-width: 1247px) {
    .vertical-timeline-element-icon {
      height: 40px; } }
  @media only screen and (max-width: 767px) {
    .vertical-timeline-element-icon {
      height: 40px; } }
  @media only screen and (max-width: 559px) {
    .vertical-timeline-element-icon {
      height: 35px; } }
  @media only screen and (max-width: 399px) {
    .vertical-timeline-element-icon {
      height: 30px; } }
  @media only screen and (max-width: 639px) {
    .vertical-timeline-element-icon {
      box-shadow: 0 0 0 3px #ffffff, inset 0 2px 0 rgba(34, 34, 34, 0.08), 0 2px 0 3px rgba(34, 34, 34, 0.05); } }
  .vertical-timeline-element-icon:hover, .vertical-timeline-element-icon:active {
    transform: translateX(-50%) scale(1.05) rotate(-10deg); }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
      left: 50%;
      width: 60px;
      height: 60px; } }
  .vertical-timeline-element-icon svg {
    width: 80%;
    height: 80%;
    max-width: 30px;
    max-height: 30px; }

.vertical-timeline-element-content {
  position: relative;
  padding: 1em;
  background: #ffffff;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #efefef; }
  @media only screen and (min-width: 1248px) {
    .vertical-timeline-element-content {
      margin-left: 60px; } }
  @media only screen and (max-width: 1247px) {
    .vertical-timeline-element-content {
      margin-left: 60px; } }
  @media only screen and (max-width: 767px) {
    .vertical-timeline-element-content {
      margin-left: 60px; } }
  @media only screen and (max-width: 559px) {
    .vertical-timeline-element-content {
      margin-left: 45px; } }
  @media only screen and (max-width: 399px) {
    .vertical-timeline-element-content {
      margin-left: 45px; } }
  .vertical-timeline-element-content::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
    margin-left: -7px;
    top: 16px;
    right: 100%;
    left: auto;
    margin-left: initial; }
  .vertical-timeline-element-content::after {
    content: "";
    display: table;
    clear: both; }
  .vertical-timeline-element--no-children .vertical-timeline-element-content {
    background: 0 0;
    box-shadow: none; }
    .vertical-timeline-element--no-children .vertical-timeline-element-content::before {
      display: none !important; }
  .vertical-timeline-element-content p,
  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 500; }
  .vertical-timeline-element-content p {
    margin: 1em 0 0;
    line-height: 1.6; }
  .vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: 0.8em 0;
    opacity: 0.7; }
  @media only screen and (min-width: 768px) {
    .vertical-timeline-element-content h2 {
      font-size: 20px;
      font-size: 1.25rem; }
    .vertical-timeline-element-content p {
      font-size: 16px;
      font-size: 1rem; }
    .vertical-timeline-element-content .vertical-timeline-element-date {
      font-size: 14px;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content {
      margin-left: 0;
      padding: 1.5em;
      width: 40%; }
      .vertical-timeline--two-columns .vertical-timeline-element-content::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left: 7px solid #ffffff;
        margin-right: -7px;
        top: 24px;
        left: 100%;
        right: auto;
        margin-right: initial; }
      .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        position: absolute;
        top: 6px;
        left: 124%;
        width: 100%;
        font-size: 16px;
        font-size: 1rem; }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content,
    .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
      float: right; }
      .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before,
      .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-right: 7px solid #ffffff;
        margin-left: -7px;
        top: 24px;
        right: 100%;
        left: auto;
        margin-left: initial; }
      .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,
      .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 124%;
        text-align: right; } }

.vertical-timeline-element-title,
.vertical-timeline-element-subtitle {
  margin: 0; }

/**/
.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden,
.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden; }

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-icon 0.6s; }

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  animation: cd-bounce-2 0.6s; }

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content .bounce-in {
    visibility: visible;
    animation: cd-bounce-2-inverse 0.6s; } }

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
    animation: cd-bounce-2-inverse 0.6s; } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    transform: translateX(20px); }
  100% {
    transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    opacity: 1;
    transform: translateX(-20px); }
  100% {
    transform: translateX(0); } }

@keyframes cd-bounce-icon {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-50%); }
  60% {
    opacity: 1;
    transform: scale(1.2) translateX(-50%); }
  100% {
    transform: scale(1) translateX(-50%); } }

/**/

.vertical-timeline-element-content .resumeProjectsBlock-photos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.vertical-timeline-element-content .resumeProjectsBlock-photos div img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  width: 100%;
  height: auto; }
  .vertical-timeline-element-content .resumeProjectsBlock-photos div img.landscape {
    width: auto;
    height: 100%; }

.vertical-timeline-element-content .resumeProjectsBlock-technologies, .vertical-timeline-element-content .resumeProjectsBlock-links, .vertical-timeline-element-content .resumeProjectsBlock-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px; }
  .vertical-timeline-element-content .resumeProjectsBlock-technologies > *, .vertical-timeline-element-content .resumeProjectsBlock-links > *, .vertical-timeline-element-content .resumeProjectsBlock-tags > * {
    position: relative;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    user-select: none; }

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 45%; }
    .vertical-timeline.vertical-timeline--two-columns .vertical-timeline-element-content::before {
      border-left-color: #e23939; } }

.vertical-timeline-element-icon {
  color: white; }

.vertical-timeline-element-content {
  color: white;
  border-top: 3px solid transparent;
  box-shadow: 0 3px 0 #ffb139; }
  .vertical-timeline-element-content::before {
    border-right-color: #e23939; }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content::before {
      border-left-color: #e23939; }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before,
    .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before {
      border-right-color: #e23939; } }
  .vertical-timeline-element-content > * {
    margin-bottom: 0.5rem; }
  .vertical-timeline-element-content .vertical-timeline-element-title {
    margin-bottom: 0;
    line-height: 1.5em; }
    .vertical-timeline-element-content .vertical-timeline-element-title .logo {
      margin-left: 5px;
      display: inline-block;
      height: 1.5em; }
      .vertical-timeline-element-content .vertical-timeline-element-title .logo img {
        height: 100%;
        user-select: none; }
  .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    font-weight: 600;
    color: black; }
  .vertical-timeline-element-content .vertical-timeline-element-date {
    margin-bottom: 0;
    padding: 0; }
  .vertical-timeline-element-content .vertical-timeline-element-iframe {
    position: relative;
    margin-bottom: 10px;
    padding-top: 56%; }
    .vertical-timeline-element-content .vertical-timeline-element-iframe iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .vertical-timeline-element-content .resumeProjectsBlock-content {
    font-weight: 600; }
    .vertical-timeline-element-content .resumeProjectsBlock-content h1,
    .vertical-timeline-element-content .resumeProjectsBlock-content h2,
    .vertical-timeline-element-content .resumeProjectsBlock-content h3,
    .vertical-timeline-element-content .resumeProjectsBlock-content h4,
    .vertical-timeline-element-content .resumeProjectsBlock-content h5,
    .vertical-timeline-element-content .resumeProjectsBlock-content h6 {
      position: relative;
      padding-left: 10px; }
      .vertical-timeline-element-content .resumeProjectsBlock-content h1::before,
      .vertical-timeline-element-content .resumeProjectsBlock-content h2::before,
      .vertical-timeline-element-content .resumeProjectsBlock-content h3::before,
      .vertical-timeline-element-content .resumeProjectsBlock-content h4::before,
      .vertical-timeline-element-content .resumeProjectsBlock-content h5::before,
      .vertical-timeline-element-content .resumeProjectsBlock-content h6::before {
        content: "";
        display: block;
        position: absolute;
        left: 0.1em;
        top: 0.125em;
        width: 0.125em;
        height: 1.2em;
        border-radius: 0.125em; }
    .vertical-timeline-element-content .resumeProjectsBlock-content ul,
    .vertical-timeline-element-content .resumeProjectsBlock-content ol {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
      padding-left: 2rem;
      font-size: 1rem;
      color: black; }
    .vertical-timeline-element-content .resumeProjectsBlock-content ol li {
      list-style: decimal; }
    .vertical-timeline-element-content .resumeProjectsBlock-content ul li {
      list-style: circle; }
  .vertical-timeline-element-content .resumeProjectsBlock-technologies {
    margin-top: 10px; }
    .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
      margin-right: 5px;
      padding: 0;
      color: #e23939;
      background-color: white;
      border: none;
      border-radius: 0.5em; }
      @media only screen and (min-width: 1248px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
          height: 32px; } }
      @media only screen and (max-width: 1247px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
          height: 32px; } }
      @media only screen and (max-width: 767px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
          height: 28px; } }
      @media only screen and (max-width: 559px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
          height: 24px; } }
      @media only screen and (max-width: 399px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div {
          height: 20px; } }
      @media only screen and (min-width: 1248px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div > * {
          padding: 0 15px; } }
      @media only screen and (max-width: 1247px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div > * {
          padding: 0 15px; } }
      @media only screen and (max-width: 767px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div > * {
          padding: 0 15px; } }
      @media only screen and (max-width: 559px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div > * {
          padding: 0 8px; } }
      @media only screen and (max-width: 399px) {
        .vertical-timeline-element-content .resumeProjectsBlock-technologies div > * {
          padding: 0 4px; } }
  .vertical-timeline-element-content .resumeProjectsBlock-links {
    margin-top: 0.5em; }
    .vertical-timeline-element-content .resumeProjectsBlock-links a {
      margin-right: 0.5em;
      min-width: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0.23);
      border-radius: 0.5em; }
      @media only screen and (min-width: 1248px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          padding: 8px 16px; } }
      @media only screen and (max-width: 1247px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          padding: 8px 16px; } }
      @media only screen and (max-width: 767px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          padding: 8px 16px; } }
      @media only screen and (max-width: 559px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          padding: 4px 8px; } }
      @media only screen and (max-width: 399px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          padding: 2px 4px; } }
      @media only screen and (min-width: 1248px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          height: 36px; } }
      @media only screen and (max-width: 1247px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          height: 36px; } }
      @media only screen and (max-width: 767px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          height: 32px; } }
      @media only screen and (max-width: 559px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          height: 28px; } }
      @media only screen and (max-width: 399px) {
        .vertical-timeline-element-content .resumeProjectsBlock-links a {
          height: 24px; } }
  .vertical-timeline-element-content .resumeProjectsBlock-photos {
    flex-direction: column; }
    .vertical-timeline-element-content .resumeProjectsBlock-photos div {
      flex: 1;
      position: relative;
      margin-bottom: 5px;
      padding-top: 56.25%;
      width: 100%;
      overflow: hidden; }
  .vertical-timeline-element-content .resumeProjectsBlock-tags {
    margin-top: 10px; }
    .vertical-timeline-element-content .resumeProjectsBlock-tags div {
      position: relative;
      margin-left: 24px;
      padding: 2px 5px;
      display: inline-block;
      line-height: 1;
      text-decoration: none;
      color: #455a64;
      background: #cfd8dc;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      transition: 0.2s; }
      .vertical-timeline-element-content .resumeProjectsBlock-tags div::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        height: 100%;
        border-top: 8px solid #0000;
        border-right: 14px solid #cfd8dc;
        border-bottom: 8px solid #0000;
        transition: 0.2s; }
      .vertical-timeline-element-content .resumeProjectsBlock-tags div::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 3.5px);
        left: -7px;
        width: 7px;
        height: 7px;
        background: #ffffff;
        border-radius: 50%; }
      .vertical-timeline-element-content .resumeProjectsBlock-tags div:hover, .vertical-timeline-element-content .resumeProjectsBlock-tags div:active {
        color: #ffffff;
        background: #ffd99f;
        transform: scale(1.1); }
        .vertical-timeline-element-content .resumeProjectsBlock-tags div:hover::before, .vertical-timeline-element-content .resumeProjectsBlock-tags div:active::before {
          border-right-color: #ffd99f; }

.vertical-timeline-element--work .vertical-timeline-element-icon {
  background-color: #e23939; }

.vertical-timeline-element--work .vertical-timeline-element-content {
  background-color: #e23939;
  border-top-color: #e23939; }

.vertical-timeline-element--work .resumeProjectsBlock {
  /*&-tags {
      div {
        &:hover,
        &:active {
          background: $color;
          &::before {
            border-right-color: $color;
          }
        }
      }
    }*/ }
  .vertical-timeline-element--work .resumeProjectsBlock-content h1,
  .vertical-timeline-element--work .resumeProjectsBlock-content h2,
  .vertical-timeline-element--work .resumeProjectsBlock-content h3,
  .vertical-timeline-element--work .resumeProjectsBlock-content h4,
  .vertical-timeline-element--work .resumeProjectsBlock-content h5,
  .vertical-timeline-element--work .resumeProjectsBlock-content h6 {
    background-color: rgba(226, 57, 57, 0.1); }
    .vertical-timeline-element--work .resumeProjectsBlock-content h1::before,
    .vertical-timeline-element--work .resumeProjectsBlock-content h2::before,
    .vertical-timeline-element--work .resumeProjectsBlock-content h3::before,
    .vertical-timeline-element--work .resumeProjectsBlock-content h4::before,
    .vertical-timeline-element--work .resumeProjectsBlock-content h5::before,
    .vertical-timeline-element--work .resumeProjectsBlock-content h6::before {
      background-color: #e23939; }

.vertical-timeline-element--education .vertical-timeline-element-icon {
  background-color: #e23939; }

.vertical-timeline-element--education .vertical-timeline-element-content {
  background-color: #e23939;
  border-top-color: #e23939; }

.vertical-timeline-element--education .resumeProjectsBlock {
  /*&-tags {
      div {
        &:hover,
        &:active {
          background: $color;
          &::before {
            border-right-color: $color;
          }
        }
      }
    }*/ }
  .vertical-timeline-element--education .resumeProjectsBlock-content h1,
  .vertical-timeline-element--education .resumeProjectsBlock-content h2,
  .vertical-timeline-element--education .resumeProjectsBlock-content h3,
  .vertical-timeline-element--education .resumeProjectsBlock-content h4,
  .vertical-timeline-element--education .resumeProjectsBlock-content h5,
  .vertical-timeline-element--education .resumeProjectsBlock-content h6 {
    background-color: rgba(226, 57, 57, 0.1); }
    .vertical-timeline-element--education .resumeProjectsBlock-content h1::before,
    .vertical-timeline-element--education .resumeProjectsBlock-content h2::before,
    .vertical-timeline-element--education .resumeProjectsBlock-content h3::before,
    .vertical-timeline-element--education .resumeProjectsBlock-content h4::before,
    .vertical-timeline-element--education .resumeProjectsBlock-content h5::before,
    .vertical-timeline-element--education .resumeProjectsBlock-content h6::before {
      background-color: #e23939; }

.vertical-timeline-element--portfolio .vertical-timeline-element-icon {
  background-color: #e23939; }

.vertical-timeline-element--portfolio .vertical-timeline-element-content {
  background-color: #e23939;
  border-top-color: #e23939; }

.vertical-timeline-element--portfolio .resumeProjectsBlock {
  /*&-tags {
      div {
        &:hover,
        &:active {
          background: $color;
          &::before {
            border-right-color: $color;
          }
        }
      }
    }*/ }
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h1,
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h2,
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h3,
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h4,
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h5,
  .vertical-timeline-element--portfolio .resumeProjectsBlock-content h6 {
    background-color: rgba(226, 57, 57, 0.1); }
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h1::before,
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h2::before,
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h3::before,
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h4::before,
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h5::before,
    .vertical-timeline-element--portfolio .resumeProjectsBlock-content h6::before {
      background-color: #e23939; }

.vertical-timeline-element--start .vertical-timeline-element-icon {
  background-color: #e23939; }

.portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio-module_box_1Qwfl {
  margin: 0.5rem;
  display: block; }
  .portfolio-module_box_1Qwfl img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border-style: none; }
  .portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt {
    margin: 0;
    padding: 0;
    justify-content: start;
    line-height: 0; }
    .portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt span {
      margin: 1px;
      padding: 1px;
      background-color: #f67;
      border-radius: 5px; }
      .portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt span {
        font-size: 12px; }
      @media (min-width: 320px) and (max-width: 1024px) {
        .portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt span {
          font-size: calc( 12px + 0 * (100vw - 320px) / 704); } }
      @media (min-width: 1024px) {
        .portfolio-module_box_1Qwfl .portfolio-module_category_2bFHt span {
          font-size: 12px; } }
  .portfolio-module_box_1Qwfl figcaption {
    margin: 0.2em 0 0;
    display: block;
    font-weight: normal; }

